body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
}


.space{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;/*I have only kept a few layers for readability here*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#centeralign{

  text-align: center;
}

#menu{  
  text-align: center;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  width:auto;
}

ul.menu {
  display: inline-block;
  text-align: left;
}

@media only screen and (min-width: 505px) {
  #test {

  
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
    
  }
}


#heli{
  position: relative;
  display: block;
    margin-left: auto;
    margin-right: auto;
  
}



#floatarea{
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}





@media only screen and (max-width: 505px) {

}



img{
max-width: 100%;
max-height: 100%;
}

h1{
  text-align: center;
  color: #fff
}
#box{
      float: right;
      position: relative;
    top: 100;
}
      #example{
     position: relative;
     width: 520px;
     height: 220px;
   }



/* this is the area where the player with it's hitbox....here ill display the hitbox - Anas */
   #player {
       width: 34px;
       height: 48px;
        background: rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
       position: relative;
       display: block;
       margin-right: auto;
       margin-left: auto;
       
   }


   #newbdackground {
    position: static;
       width: 900px;
       height: 500px;
       top: 0;
       top: 60px;
       right: -40px;
   }

   @media only screen and (min-width: 505px) {
    #red-area {
      width: 37px;
      height: 50px;
      margin-left: 545px; /*<--- important dont remove that*/
     background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
      position: relative;
      top: 140px;
      left: 200px;
      display: block;
      margin-right: auto;
      margin-left: auto;
  }

  #blue-area {
    width: 37px;
    height: 50px;
    margin-left: 545px; /*<--- important dont remove that*/
   background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
    position: relative;
    top: 140px;
    left: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#green-area {
  width: 37px;
  height: 50px;
  margin-left: 545px; /*<--- important dont remove that*/
 background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
  position: relative;
  top: 140px;
  left: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#right-area {
  scale: 150%;
  width: 30px;
  height: 410px;
 background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#left-area {
  scale: 150%;
  width: 30px;
  height: 410px;
 background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#top-area {
  scale: 150%;
  width: 690px;
  height: 30px;
 background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#bottom-area {
  scale: 150%;
  width: 690px;
  height: 30px;
 background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
  display: block;
  margin-right: auto;
  margin-left: auto;
}



   }

   





   
/* this is the area where the booth interaction takes place....here ill display the hitbox - Anas */
   #red-areagoogle {
       width: 37px;
       height: 50px;
      background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
       position: relative;
       top: 140px;
       left: 200px;
   }
 
   #bluea-area {
    width: 37px;
    height: 50px;
   background:  rgba(0,0,0,0.0); /* to make the hitbox dissapear [like in the website demo], you make it transparent like this [background:  rgba(0,0,0,0.0);] */
    position: relative;
    top: 140px;
    left: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#vanilla-toast-container {
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}


